<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to chiTchat</title>
    <link rel="stylesheet" href="route.css">
</head>
<body>
    <!-- Your HTML content goes here -->
    <div id="welcome">
        <h1>Welcome To chiTchat</h1>
     <h2>Connect Your Mind with the world!</h2>
     <hr>
     <h3>If You have to go to Our chats Section than click the below button</h3>
</div>
    <form action="/chats" method="get">
        <button id="btn" type="submit">Go to Chats Section</button>
    </form>
</body>
</html>
